@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9md6ma');
  src:  url('../fonts/icomoon.eot?9md6ma#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9md6ma') format('truetype'),
    url('../fonts/icomoon.woff?9md6ma') format('woff'),
    url('../fonts/icomoon.svg?9md6ma#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Add-Image .path1:before {
  content: "\e900";
  color: rgb(128, 130, 133);
}
.icon-Add-Image .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(167, 169, 172);
}
.icon-Add-Image .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-Add-Image .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(88, 89, 91);
}
.icon-Add-Image .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(188, 190, 192);
}
.icon-Add-Image .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(209, 211, 212);
}
.icon-Add-Text .path1:before {
  content: "\e906";
  color: rgb(128, 130, 133);
}
.icon-Add-Text .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(88, 89, 91);
}
.icon-Alignment .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}
.icon-Alignment .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(121, 122, 121);
}
.icon-Alignment .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Anti-Clockwise-rotaion:before {
  content: "\e90b";
}
.icon-Bold:before {
  content: "\e90c";
}
.icon-Center-text-Align:before {
  content: "\e90d";
}
.icon-Check:before {
  content: "\e90e";
}
.icon-Check_decoration:before {
  content: "\e90f";
}
.icon-Clockwise-rotaion:before {
  content: "\e910";
}
.icon-Close-main .path1:before {
  content: "\e911";
  color: rgb(255, 255, 255);
}
.icon-Close-main .path2:before {
  content: "\e912";
  margin-left: -1em;
}
.icon-Close:before {
  content: "\e913";
}
.icon-Color .path1:before {
  content: "\e914";
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-Color .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(34, 31, 31);
}
.icon-Crop:before {
  content: "\e916";
}
.icon-Decoration:before {
  content: "\e917";
}
.icon-Done:before {
  content: "\e918";
}
.icon-Download .path1:before {
  content: "\e919";
  color: rgb(255, 255, 255);
}
.icon-Download .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Dropdown-arrow:before {
  content: "\e91b";
}
.icon-expand:before {
  content: "\e91c";
}
.icon-Flip:before {
  content: "\e91d";
}
.icon-history:before {
  content: "\e91e";
}
.icon-Horizontal-Flip:before {
  content: "\e91f";
}
.icon-Italic:before {
  content: "\e920";
}
.icon-Layers-Large:before {
  content: "\e921";
}
.icon-Layers:before {
  content: "\e922";
}
.icon-Left-Arrow:before {
  content: "\e923";
}
.icon-Left-text-Align:before {
  content: "\e924";
}
.icon-Logofy .path1:before {
  content: "\e925";
  color: rgb(255, 255, 255);
}
.icon-Logofy .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Minus:before {
  content: "\e927";
}
.icon-Move-bottom:before {
  content: "\e928";
}
.icon-Move-Down:before {
  content: "\e929";
}
.icon-Move-top:before {
  content: "\e92a";
}
.icon-Move-up:before {
  content: "\e92b";
}
.icon-Opacity:before {
  content: "\e92c";
}
.icon-Placeholder:before {
  content: "\e92d";
}
.icon-Plus:before {
  content: "\e92e";
}
.icon-Right-Arrow:before {
  content: "\e92f";
}
.icon-Right-text-Align:before {
  content: "\e930";
}
.icon-Rotation:before {
  content: "\e931";
}
.icon-Search:before {
  content: "\e932";
}
.icon-Selection-Point:before {
  content: "\e933";
}
.icon-Share .path1:before {
  content: "\e934";
  color: rgb(255, 255, 255);
}
.icon-Share .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-shrink:before {
  content: "\e936";
}
.icon-Text-Properties:before {
  content: "\e937";
}
.icon-Trash:before {
  content: "\e938";
}
.icon-Underline:before {
  content: "\e939";
}
.icon-Vertical-Flip:before {
  content: "\e93a";
}
.icon-Virsion:before {
  content: "\e93b";
}



/*--FONT FACE--*/
/* This stylesheet generated by Transfonter (http://transfonter.org) on November 29, 2016 10:00 AM */

@font-face { font-family: 'Helvetica Neue'; src: url('../fonts/HelveticaNeue.eot'); src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Helvetica Neue'; src: url('../fonts/HelveticaNeue-Bold.eot'); src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Helvetica Neue LT Std'; src: url('../fonts/HelveticaNeueLTStd-Md.eot'); src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Helvetica Neue LT Pro'; src: url('../fonts/HelveticaNeueLTPro-Bd.eot'); src: url('../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Bd.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd') format('svg'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Helvetica Neue'; src: url('../fonts/HelveticaNeue-Thin.eot'); src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-Thin.woff') format('woff'), url('../fonts/HelveticaNeue-Thin.ttf') format('truetype'), url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'Helvetica Neue LT Std'; src: url('../fonts/HelveticaNeueLTStd-It.eot'); src: url('../fonts/HelveticaNeueLTStd-It.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-It.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-It.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-It.svg#HelveticaNeueLTStd-It') format('svg'); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Helvetica Neue LT Std Roman'; src: url('../fonts/HelveticaNeueLTStd-Roman.eot'); src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Helvetica Neue LT Std'; src: url('../fonts/HelveticaNeueLTStd-HvCn.eot'); src: url('../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-HvCn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-HvCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn') format('svg'); font-weight: 900; font-style: normal; }
